*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  color-scheme: light;
  font-family: Inter, system-ui, sans-serif;
}

html {
  color-scheme: light;
}

body {
  margin: 0;
}

#root {
  min-height: 100svh;
}
