.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
RouteFinder.app/
RouteFinderApp.app/
RouteFinderMacApp.app/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
